<div id="container">
	<div class="ship">
		<%= image_tag('spaceship.png') %>
	</div>
	
	<div class="request">
		<p>
			Wuzbest has yet to arrive in it's finest form, it's ship are being honed and it's reactors are being filled with juice to attein E.T planet. Please consider registering to our newsletter to be notified of our launching date. (there are no spams out there in space)
		</p>

		<%= render 'form' %>

	</div>
</div>
