// Place all the styles related to the welcomes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "mixins";
.ship {
	width: 100%;

	margin-bottom: 40px;

	text-align: center;
}


.request {
	width: 100%;

	padding: 10px;

	text-align: center;

	@include box-shadow;

	p {
		margin-top: 20px;
		margin-bottom: 20px;
		padding-bottom: 10px;

		line-height: 35px;

		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 2.0em;
		color: #7c7c7f;
	}

	.button {
		background: #228b9b;

		border: 0px;

		font: 1.2em "OpenSansBold",Helvetica,Arial,sans-serif;
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;

		color: #fff;

		padding: 10px 35px;
		margin-top: 20px;
		margin-bottom: 20px;

		border-radius: 3px;
	}

	.input {
		height: 30px;
		width: 450px;

		border-radius: 3px;

		text-align: center;

		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 1.8em;
		font-style: italic;

		//@include in-box-shadow;
	}
}